<div class="col-md-2 option-content">
        <p class="active" data-toggle="tab" href="#menu-photos"><%= t('.photos') %></p> 
        <p data-toggle="tab" href="#menu-albums"><%= t('.albums') %></p>
        <p data-toggle="tab" href="#menu-followings"><%= t('.users') %></p>
</div>