<div class="col-md-2 option-content">
        <p class="active" data-toggle="tab" href="#menu-photos"> PHOTOS</p> 
        <p data-toggle="tab" href="#menu-albums"> ALBUMS</p>
        <p data-toggle="tab" href="#menu-followings"> USERS</p>
</div>