<div class="container row">
    <%= render partial: "option_manager" %>
    <div class="col-md-8 profile-user">
        <div class="row album-user tab-content">
            <div id="menu-photos" class="tab-pane fade in active">
                    <%= render partial: "users/photos_user", locals: { photos: @photos } %>
            </div>
            <div id="menu-albums" class="tab-pane fade">
                <%= render partial: "users/albums_user", locals: { albums: @albums } %>
            </div>
            <div id="menu-followings" class="tab-pane fade">
                <%= render partial: "user", locals: { users: @users } %>
            </div>
        </div>
    </div>
    <div class="col-md-2 ads-user">
        
    </div>
</div>