<% albums.each do |album| %>
<div class="col-lg-3 col-md-6 album-belongs-to-user">
    <div class="album-picture">
        <div class="square-fit picture-first">
            <img class="picture-in-album" src=<%= album.images.pluck(:image_url)[0] %>>
            <div class="title-hover">
                <p class="title"><span>13</span> <br> PHOTOS</p>
            </div>
        </div>
        <div class="square-fit picture-second">
            <img class="picture-in-album" src=<%= album.images.pluck(:image_url)[1] %>>
        </div>
        <div class="square-fit picture-third">
            <img class="picture-in-album" src=<%= album.images.pluck(:image_url)[2] %>>
        </div>
    </div>
</div>
<% end %>
