<div class="row">
    <% @albums_feeds.each do |album| %>
        <%= render partial: "albums_post", locals: { album: album, type: "feeds" } %>
        <%= render partial: "modal_album", 
                locals: { url: album.images, 
                        id: "feeds"+album.id.to_s } %>
    <% end %>
</div>
<%= paginate @albums_feeds, param_name: "page_album_feeds", remote: true %>