<div class="row">
    <% @albums_discover.each do |album| %>
        <%= render partial: "albums_post", locals: { album: album, type: "discover" } %>
        <% unless album.images[0].nil? %>
            <%= render partial: "modal_album", 
                    locals: { url: album.images, 
                            id: "discover"+album.id.to_s } %>
    
        <% end %>
    <% end %>
</div>
<%= paginate @albums_discover, param_name: "page_album_discover", remote: true %>