<div class="option-photo-album">
    <div>
        <button class="show-photos active change-to-blue btn" data-toggle="tab" href="#option-photo-<%= type %>"><%= t('.photo') %></button>
        <button class="show-albums btn" data-toggle="tab" href="#option-album-<%= type %>"><%= t('.album') %></button>
    </div>
</div>