<ul class="col-md-2 nav nav-tabs option-content" id="myTab">
  <li class="active"><a href="#option-feeds"><%= t('.feeds') %></a></li>
  <li><a href="#option-discover"><%= t('.discover') %></a></li>
</ul>