<div class="option-photo-album">
    <button class="show-photos active change-to-blue" data-toggle="tab" href="#option-photo-<%= type %>">PHOTO</button>
    <button class="show-albums" data-toggle="tab" href="#option-album-<%= type %>">ALBUM</button>    
</div>