<div class="container">
    <div class="row content tab-content">
        <%= render partial: "option_feeds_discover" %>
        <div id="option-feeds" class="col-md-8 main-content-feeds tab-pane fade in active tab-content">
            <p> feeds </p>
            <%= render partial: "option_photo_album", locals: { type: "feeds" } %>       
            <div id="option-photo-feeds"  class="content-post-photos tab-pane fade in active">
                <div id="photos_guest">
                    <%= render partial: 'photos_guest', locals: { photos_guest: @photos_guest } %>
                </div>
            </div>
            <div id="option-album-feeds" class="content-post-albums row tab-pane fade">
                <div id="albums_guest">
                    <%= render partial: 'albums_guest', locals: { albums_guest: @albums_guest } %>
                </div>
            </div>            
        </div>
        <div class="col-md-2 option-ads">

        </div>
    </div>
</div>