<div class="container row">
    <%= render partial: "home/option_feeds_discover" %>
    <div class="col-sm-8 new-photo">
        <div class="title-new-photo">
            <h3>Edit Album</h3>
        </div>
        <div class="row main-new-photo">
                <%= form_for([@user,@album], :html => { :multipart => true }) do |f| %>
                    <%= render partial: "form_album", locals: { f: f } %>
                <% end %>
        </div>
    </div>    
</div>