// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-album{
    background-color: #ffffff;
    min-height: 1000px !important;
    .title-new-photo{
        border-bottom: 2px solid #E0E0E0;
    }
    .main-new-photo{
        .title-mode-div{
            .title-title-mode-div{
                width: 100%;
                #photo_title{
                    width: 100%;
                }
            }
            .mode-title-mode-div{

            }
        }
        #photo_description{
            width: 100%;
            min-height: 150px;
        }
        .image-div{

        }
    }
}