.container-edit-user{
    background-color: #f8f8f8;
    .content-edit-form{
        background-color: #fff;
        .title-edit-user{
            border-bottom: 2px solid #E0E0E0;
        }
        .content-edit-user{
            .account-wall{
                margin-top: 20px;
                padding: 40px 0px 20px 0px;
                -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                .form-signin{
                    max-width: 330px;
                    padding: 15px;
                    margin: 0 auto;
                    .edit-profile{
                        .choose-image{
                            position: relative;
                            padding: 0;
                            width: 50%;
                            left: 50%;
                            transform: translateX(-50%);
                            div{
                                width: 100%;
                                padding-bottom: 100%;
                            }
                            .choose-file-field{
                                position: absolute;
                                #avatar-upload{
                                    position: absolute;
                                    z-index: 2;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0;
                                }
                            }
                            .choose-image-field{
                                position: relative; 
                                .img-thumbnail{
                                    padding: 0;
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 1;
                                    background: transparent;
                                }
                            }
                        }
                        .field, .actions{
                            margin-top: 10px;
                        }
                    }
                    .edit-password{
                        margin-top: 40px;
                        .field, .actions{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

.form-devise{
    .title-devise{
        text-align: center;
        color: #3C5999;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 505;
    }
    
    .user-signup, .user-signin, .user-reset-password{
        margin-top: 20px;
        padding: 50px 70px 10px 70px;
        background-color: #f7f7f7;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    
        .form-signin{
            .new_user{
                .field{
                    margin-top: 10px;
                    .form-control{
                        position: relative;
                        font-size: 16px;
                        height: auto;
                        padding: 10px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                    }
                    .form-control:focus{
                        z-index: 2;
                    }
                }
                .actions{
                    width: 35%;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    .btn-signup, .btn-signin{
                        width: 100%;
                        background-color: #3C5999;
                        color: #fff;
                    }                
                }
                .send-mail-to-reset-password{
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
            input[type="text"]{
                margin-bottom: -1px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            input[type="password"]{
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            .user-email{
                width: 100%;
            }
        }
        .go-to-forgot-password{
            margin-top: 10px;
            text-align: center;
        }
    }
    .go-to-signup{
        margin-top: 10px;
        text-align: center;
    }
}



.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 40px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}



